*.aes
*.aux
*.cabal
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.keter
*.o
*.prof
*.swp
*~
.DS_Store
.HTF/
.cabal-sandbox
.ghc.environment.*
.hpc
.hsenv*
.stack-work-devel/
.stack-work/
.sass-cache/
\#*
cabal-dev
cabal.project.local
cabal.sandbox.config
config/client_session_key.aes
dist*
static/tmp
yesod-devel/
